[2014-02-16 13:56] keehun opened #1 "Mouse Movement"
Using the mouse becomes really useless because it keeps on going out of bounds of the window and stops being useful. Somehow must keep the cursor centered in the window so that the mouse does not go out of bounds.

[2014-02-21 22:12] #1 closed, assigned to nobody

[2014-02-22 00:37] Vanuan opened #2 "Version change transaction was aborted in upgradeneeded event handler"
I see this error when I click start match. I'm using Chrome 32.0.1671.3 dev

[2014-03-06 19:36] kwadroke opened #4 "Path issue when running locally"
I had some issues with running quakejs games locally.
The README.md states
## Running locally

[code]

but for some reason that will not grab the files from the content.quakejs.com server

[code]

But if I put the full path to the web.json file...

[code]

**OR WITH**

[code]

The files are pulled down from the content server fine. Not sure if there's a code issue, or just the README.md file needs

[2014-04-02 15:57] kwadroke opened #6 "content.quakejs.com & www.quakejs.com down"
I know this isn't a code issue, but, the README.md references these servers. These also have important information on them pertaining on how to get things working.  CloudFlare reports an Error 522 on both URLs. I've tried this on 3 different ISPs and 3 different computers.

From CloudFlare:
_Error 522 means that the request was able to connect to your web server, but that the request didn't finish

[2014-04-02 16:36] #6 closed, assigned to nobody

[2014-04-18 18:27] #4 closed, assigned to nobody

[2014-06-04 18:53] kwadroke opened #7 "Using QuakeJS for standalone games"
How difficult would it be to have QuakeJS use files from Standalone games such as OpenArena, Q3Rally, Smokin' Guns, etc that doesn't use the Quake3 files, but just the IOQuake3 engine?
I know the ioquake3 engine supports this as I've used it for my own mod.

[2014-09-22 09:47] michaelenger opened #8 "quakejs.com throws a mutation operation error"
When you try to launch the game from [quakejs.com](http://www.quakejs.com/) the following error shows up: `A mutation operation was attempted on a database that did not allow mutations.`

[2014-11-05 16:10] darkshade9 opened #9 "Compiling mod and assets"
Hello,

I'm trying to use this project to host a dedicated Q3 Freezetag server.  I can get it to run Vanilla Q3 just fine, but I'm rather at a loss on how to create a freezetag environment.  I have the source code for the mod as well as the client/server files necessary to run it.  Can you assist me in any way?

Thanks.

[2015-02-11 20:58] kwadroke commented on #7
Still been thinking about this. I've been having more issues with getting Emscripten to work more than anything. Trying to figure out main assets being dealt with and how to use the core assets from other mods, but not having much luck.

[2015-04-10 18:21] marktheis opened #10 "halts after EULA"
Hi. I'm trying to install the server but nothing happens after I agree with the EULA.

So I do this after cloning the repo:

[code]
Then I press y and then enter to agree with the EULA. But nothing happens.

I have also tried to manually download the baseq3 content and starting the server with a config like this:
`node build/ioq3ded.js +set fs_game baseq3 +set dedicated 2 +exec server.cfg`
But the

[2015-04-24 07:33] migonium opened #11 "My own front-end"
How i can start my own front-end client?
In manual there are only way i can start my server to play via http://www.quakejs.com/play?connect%20SERVER_IP:27960

But i want to start my own front-end to play like http://mydomain.com/play?connect%20SERVER_IP:27960.
Is there any solution?

[2015-05-08 14:27] pettyalex commented on #10
You need to press enter until it prompts you to *Agree? (y/n)*, then you can enter y and proceed.

[2015-05-08 18:13] marktheis commented on #10
Thank you. I did not realise that :)

[2015-05-08 18:13] #10 closed

[2015-11-05 08:17] #11 closed

[2015-11-05 08:18] migonium opened #12 "SSL"
is any setting to provide server with SSL encryption?

[2015-12-01 10:59] dj-hedgehog commented on #12
You'd have to add the certificate information in the `createServer`-command in this file: `https://github.com/inolen/quakejs/blob/master/bin/web.js`

Something like
[code]
More information: https://nodejs.org/api/https.html#https_https_createserver_options_requestlistener

[2015-12-01 16:12] migonium commented on #12
Thank you! But there is ws:// protocol used to find dedicated servers and this request fails when server runned over https.

[2015-12-16 07:34] 25cf commented on #6
Down again!

[2015-12-19 20:43] inolen commented on #6
And back up, heh.

[2015-12-20 01:03] 25cf commented on #6
@inolen could you release the source for the master server?

[2015-12-20 01:25] inolen commented on #6
https://github.com/inolen/quakejs/blob/master/bin/master.js

[2015-12-23 05:44] 25cf commented on #6
@inolen I must've missed that! By the way, the site is not displaying my server. I am seeing this on the website as well: https://www.dropbox.com/s/yqefeqss4ttw4xz/Screenshot%202015-12-22%2021.44.22.png?dl=0

[2016-01-22 13:11] alexhultman opened #13 "Benchmark"
Nice thing you have done here. However, this doesn't really prove anything *at all* unless we can get some info on how to benchmark it. I cannot figure out how to go beyond 125 fps, the console commands doesn't seem to work.

My dishwasher would probably run this 17 year old game at 60 fps, so the fact that my 980 can run it at 125 fps is not really proving anything. I would like to see some info

[2016-04-05 05:55] halton opened #14 "Fail to build ioq3ded.js on latest emscripten"
Build quakejs master code (https://github.com/inolen/quakejs/commit/237acdf9dea8a64bfec7d26575e0ebf0dbf18a38) + ioq3 master code (https://github.com/inolen/ioq3/commit/4f7d7bf2159aa0a18b79bb417aa760abac817b2a) with emscripten master code https://github.com/kripken/emscripten/commit/07b87426f898d6e9c677db291d9088c839197291, it fails with following errors:

[code]

[2016-04-05 08:01] halton commented on #14
Refer to https://github.com/kripken/emscripten/pull/1624, `Runtime.generateStructInfo` is deprecated, the `ioq3/code/sys/sys_common.js` need to be updated.

[2016-06-25 19:46] defanor opened #15 "License information"
The situation with the license is quite unclear: it seems to be a derivative (port) of a GPLv2-licensed program, and in such a case it should be under GPL. But the github README.md states that the license is MIT, and then the live demo website shows a non-free EULA (probably the original one, by id Software).

Would be nice to clarify and/or fix all that.

[2016-06-29 22:37] inolen commented on #15
What's in the readme was originally just in reference to the few files associated with the actual quakejs project, it clearly has no impact on the ioq3 fork.

[2016-08-02 11:42] anlutro opened #16 "How do you execute a configuration file?"
I have an existing quake 3 configuration file that I use with ioquake3 as well as CPM - where would I place this file to make it possible to `exec myconfig.cfg`?

Cool project by the way!

[2016-09-09 22:35] premesh opened #17 "what happened to quakejs.com!!"
site is down :(

[2016-09-10 01:42] inolen commented on #17
Back up.

[2016-09-10 01:42] #17 closed

[2016-09-10 01:42] #15 closed

[2016-09-10 01:42] #12 closed

[2016-09-10 01:42] #8 closed

[2016-09-10 01:43] #13 closed

[2016-09-10 01:46] premesh commented on #17
Great!! I was trying to get a content server up but wasnt able to run the
repack script.   I guess my first question would be what do i use as the
assst directory? I am able to run a dedicated server just fine

On Sep 9, 2016 6:42 PM, "Anthony Pesch" <notifications@github.com> wrote:

[2016-09-30 01:57] TheBlackParrot opened #18 "Dedicated server fails to start/install - Error: input buffer is broken"
[log.txt](https://github.com/inolen/quakejs/files/502018/log.txt)

Arch Linux x64, Node 6.7.0 x64, used the pre-built dedicated server, machine has 4GB of RAM with 3GB free at the time

[2016-10-05 16:41] JustH3LL opened #19 "How to Host Game on Own Site"
Is there any way that I can host this game on my own site? I want to set this up because quakejs.com is blocked at my school and i want to just set this up exactly like the live demo, but a link to quakejs.com and here for cred.

EDIT- Nvm i got it set up but manifest.json is missing

[2016-11-02 10:06] turtleDev opened #20 "quakejs demo not running properly because resource was loaded over an insecure channel"
![ss](https://cloud.githubusercontent.com/assets/12575843/19924425/da1548f0-a111-11e6-90ec-365a2e451266.png)

suggested fix:
[code]

[2016-11-05 11:27] toxinu commented on #20
Same for me. Chromium 52.

[2016-11-05 16:31] inolen commented on #20
Hmph, I'm a bit confused. I don't serve any of quakejs.com over https, yet https is in the play url you have there (chrome 53 here).

[2016-11-05 16:31] #2 closed

[2016-11-05 16:31] #7 closed

[2016-11-05 16:32] inolen commented on #14
Right, there have been significant changes to emscripten since I last built ioq3. It would probably be a good bit of work to make sure it compiles and works with latest emscripten.

[2016-11-05 16:36] inolen commented on #16
There's unfortunately not a great way to do this, as all files are inside of paks stored inside of an IndexedDB instance in your browser.

[2016-11-05 16:36] #16 closed

[2016-11-05 16:37] inolen commented on #18
Sounds like a possible API change with newer versions of node. The dedicated servers that were running this originally I think were based on 4.x.

[2016-11-05 16:38] #9 closed

[2016-11-05 16:41] inolen commented on #19
The source code for quakejs.com isn't public currently (there's not much to it), but you should be able to setup your own content / dedicated server with a small play page (view the source code for /play) that uses the custom content server.

[2016-11-06 15:40] turtleDev commented on #20
@inolen same with FF v49
![ff](https://cloud.githubusercontent.com/assets/12575843/20039151/63d85a4a-a465-11e6-8e34-dc378120b257.png)

[2016-11-06 15:42] turtleDev commented on #20
okay, manually going to `http://quakejs.com` circumvents the problem. I guess your CDN adds https supports, and google by default lists this https url.

[2016-11-06 16:37] inolen commented on #20
Ah cheers. Let me try to disable that.

[2016-11-07 16:56] EddieOne commented on #19
Is it alright to iframe quakejs.com? We would also like to host the game, preferably without setting up a quake server.

[2016-11-07 19:49] inolen commented on #20
Alright, all should be well now.

[2016-11-07 19:49] #20 closed

[2016-11-24 12:18] Skylsmoi commented on #18
The same error happens in the playable version from http://www.quakejs.com/
[code]

[2016-12-16 17:23] DJ4LIF3 opened #21 "A mutation operation was attempted on a database that did not allow mutations."
Everytime i try to join a game on firefox i get this. Chrome just gives me a black screen. and internet explorer doesnt work at all.

[2016-12-20 08:09] TheBlackParrot opened #22 "Does not launch on Chrome/webkit-based browsers any longer"
recent versions of Chrome, Chromium, Opera are all affected, OS-independent

Firefox runs it, but poorly (averaging ~6fps before hanging)

[code]

[2016-12-20 08:12] TheBlackParrot commented on #18
Recent commit fixed it, server launches and runs fine.

[2016-12-20 08:13] inolen commented on #22
Have a fix for this thanks to @pdox, will fix tomorrow.

[2016-12-20 08:30] inolen commented on #18
Thanks for the update.

[2016-12-20 08:30] #18 closed

[2016-12-21 05:34] inolen commented on #22
The fix for this should be live now.

[2016-12-21 07:05] TheBlackParrot commented on #22
It works now, thanks!

[2016-12-21 07:13] #22 closed

[2016-12-23 13:29] esikgabi commented on #14
Hi Guys,

@inolen
Could you infrom, what was the emscirpten's version/tag which can build ioq3?
I would like to build it and I don't care if it isn't the latest, just can build it.

@halton
Have you found any solution for this problem?

Thanks,
Gabor

[2017-01-31 16:07] dominiksipowicz opened #23 "now working on new mac os"
Hi quakejs dosn't work on MacOS 10.12.3 and chrome.

[2017-02-02 00:19] LWSS commented on #19
You can copy the source from the /play page ( don't save it via your browser, just view page source and copy ).
Make sure that you save the javascript and css locally and rename them in the html source.
After that you can get the play page to connect to your server by modifying this line in the inline javascript from the html source.

`var args = ['+set', 'fs_cdn', 'content.quakejs.com:80', '+set'

[2017-02-02 00:21] LWSS commented on #23
Is mouse-look not working or does the game not launch?

[2017-02-06 00:42] timCF commented on #23
[code]

[2017-02-08 14:26] LWSS commented on #23
Yeah i'm getting that too on Chrome, Firefox seems to work ok

[2017-02-08 14:27] LWSS commented on #23
Looks to be deprecated
https://www.chromestatus.com/feature/5238926818148352

[2017-02-15 03:10] Kradre commented on #14
So, could anyone say, what version of emscripten could be good for this?

[2017-02-16 04:32] inolen commented on #23
This should be fixed now :+1:

[2017-02-16 04:32] #23 closed

[2017-02-16 13:01] LWSS commented on #23
If anyone else was wondering what he did to fix it, see here http://www.quakejs.com/js/38cbed8aa9a0bda4736d1aede69b4867-ioquake3.js

Instances of setVelocity were all commented out.

[2017-03-14 07:44] MasGaNo commented on #14
You can use the 1.12.0 version for that:
[code]

For people who have this error:
[code]
It's because you maybe clone the project with:
[code]
So you need to modify the Makefile and replace these lines:
[code]
by
[code]

Enjoy :)

[2017-03-15 01:55] Kradre commented on #14
@MasGaNo Thank you!
But there's a problem - 1.12.0 whole sdk is no longer downloadable in emsdk.
(I could only download emscripten 1.12.0, but it still requires libs from clang (i think))
If you have it, could you put it on some file hosing?

[2017-03-15 06:45] MasGaNo commented on #14
Ah? This is strange...
I'm using the [Portable Emscripten SDK for Linux and OS X](http://kripken.github.io/emscripten-site/docs/getting_started/downloads.html#portable-emscripten-sdk-linux-osx), and if I use the command I mention in my previous message:
[code]
You need to add the `--old` option to see the previous versions :-)
So normally it's possible to install previous version of all dependenci

[2017-03-15 12:38] Kradre commented on #14
root@ragewell:~/test2/emsdk_portable# ./emsdk list --old

The following precompiled tool packages are available for download:
           node-4.1.1-32bit
           node-4.1.1-64bit
           emscripten-1.5.6
           emscripten-1.7.1
           emscripten-1.7.8
           emscripten-1.8.2
           emscripten-1.9.5
           emscripten-1.10.4
           emscripten-1.12.0
           emscripte

[2017-03-15 12:52] MasGaNo commented on #14
Strange... 😮
Did you already execute this command when you download this package?:
[code]

[2017-03-15 12:59] Kradre commented on #14
I tried it with and without that command - it didn't helped me at all :c
Can you can your emscripten-tags.txt file? Just to check if there's other versions too.

[2017-03-15 14:38] MasGaNo commented on #14
Yes sure:
[code]
But maybe you want my manifest file?:
[code]

[2017-03-20 21:56] lukeaschenbrenner opened #24 "Quakejs.com down again"
Just a heads up (:

[2017-03-21 04:14] inolen commented on #24
Thanks for the heads up, looks like CloudFlare enabled some IPV6-related setting which hosed DNS. Should be back up now.

[2017-03-21 04:14] #24 closed

[2017-05-02 16:30] JustH3LL commented on #19
Ok, I figured all that out and had it working for a little while (the 10mb file limit on x10 was getting annoying, going to pay for a bigger file limit some time in the future)

Anyways, if I use the full pak0.pk3 file, would it be possible to play the full quake game in a browser? This is just for experimental purposes, not making it public.

[2017-05-02 18:23] LWSS commented on #19
Try it and find out. The menu and stuff seems to work OK

[2017-05-02 21:48] EddieOne commented on #19
Ah thanks for the reminder to do this @JustH3LL  ! It is working great but we don't have a quake server. Is it possible to add a couple servers to the args @LWSS ?

[2017-05-02 22:09] LWSS commented on #19
You'll want to add your own.

But you could grab one from the quakejs website if you really don't want to run one

[2017-05-09 17:27] gfwilliams opened #25 "Calling some code when player gets hurt"
Hi,

I've been playing around trying to add 'force feedback' to games with a shock machine controlled via Web Bluetooth, and QuakeJS looked like an awesome game to try and add it to.

Would it be possible for me to add such a thing? Is there anywhere obvious in the code that I could read the current player health from?

I had a quick look around but didn't find anything, and I have a feeling that

[2017-06-04 07:51] RazZziel opened #26 "QuakeJS server monitoring"
I'd like to be able to write a Slack bot that monitors a QuakeJS server and notifies a Slack channel when someone enters the game.

Is there some kind of server public API I can subscribe to receive these kind of events? Or would I need to run my own server and somehow implement these notifications?

[2017-07-19 18:11] JustH3LL commented on #19
Could someone send me a list of all the files required to get the /play page fully working and possibly a list of all the files required for the rest of quakejs.com? I didn't make a list when I got those files originally and I don't have the files anymore thanks to x10hosting

Thanks!

[2017-07-20 03:12] LWSS commented on #19
Just go here http://www.quakejs.com/play
and look at the network tab in chrome/firefox

[2017-07-20 07:28] Kradre commented on #14
Answering after a long time - sorry about that.
Looks now emsdk 1.12.0 only exists on windows.
Can i ask you for a build of this repo?

[2017-07-29 14:49] thecyberd3m0n opened #27 "Cursor"
Could you disable cursor when it's on canvas?

[2017-07-31 10:54] thecyberd3m0n commented on #26
I'm sorry, I missed it that I just need to click onto canvas. Please close or delete the issue, nevermind.

[2017-07-31 10:55] #27 closed

[2017-07-31 10:55] thecyberd3m0n commented on #27
I'm sorry I missed that I just need to click onto the canvas.

[2017-08-07 08:07] Kradre commented on #14
@MasGaNo Or maybe a emsdk of this version? Just wanting to build this version

[2017-08-10 10:44] thecyberd3m0n opened #28 "Save config in localstorage"
I think it's important to remember player's changes into it. It's highly annoying when I must redefine controls ,player name and graphics each game...

[2017-08-10 20:50] thecyberd3m0n commented on #28
I see in logs it has "virtual filesystem" undernear. How we can access it outside ioq3?

[2017-08-10 20:56] inolen commented on #28
The project mounts an IDBFS instance at startup (which ideally should persist config changes):
https://github.com/inolen/ioq3/blob/master/code/sys/sys_browser.js#L295

[2017-08-11 07:27] thecyberd3m0n commented on #28
I used build from quakejs site with own server. Every player connected as UnnamedPlayer, because there was no way to store his configuration. Build from github just didn't work. I'll do some additional analysis later, and give you some logs.
Anyway, how can we access the filesystem deployed by that virtual machine outside of it? I think that would be useful for adding features to Quake ;)

[2017-08-11 14:08] vladbpython commented on #14
Good day how to built emsdk 1.12.0 for linux(Ubuntu/Debian)?

[2017-08-16 02:17] kungfooman commented on #14
IMO it's useless trying to get ioq3ded compiled via emscripten (bad for debugging, worse performance etc.). We can simply use the native udp dedi server and "websockify" it, like:

`node proxy.js`
[code]

That kills alot of the "hard" emscripten stuff like running the VM's and would make keeping this project up to date way easier. People only care about playing in browser, right? No need to do the

[2017-08-18 15:10] kifirkin opened #29 "Online match doesn't load behind https proxy through ws"
While behind https proxy, can't load online games because website uses websockets `ws`, but could only load through `wss`

[2017-10-03 08:34] dolohow opened #30 "Can you play on LAN?"

[2017-10-03 09:36] dolohow commented on #30
Yes, you can.  Set up dedicated server on your computer and then use link http://www.quakejs.com/play?connect%20YOUR_LAN_IP_ADDRESS:27960

[2017-10-03 09:36] #30 closed

[2017-10-19 20:50] JustH3LL opened #31 "Some sounds don't play correctly on newer versions of Chrome"
I can't describe it much but some sounds don't play correctly and are pure ear rape

I think picking up the Quad was one of them with the said issue

[2017-11-11 22:42] Calinou commented on #31
I can reproduce this on Firefox Nightly 58 with the sound that plays when a powerup is about to expire – the sound is spammed (and is very loud), even though it should only be played once per second.

[2017-11-12 17:56] Elijahg opened #32 "repak.js produces nothing"
After a fair bit of fiddling, I've managed to get repak.js to run. Unfortunately when running it on quakejs/base/baseq3/ it produces no files, despite outputting

`info:    writing ~/assets/baseq3/pak100.pk3`

Is it somehow broken? I'm trying to run the full game instead of the demo, and simply replacing pak0.pk3 with the full version results in it getting overwritten on server startup. Presumably

[2017-11-14 15:44] inolen commented on #31
This is probably due to the new browser APIs finally being incompatible with what they were when this was originally compiled (2+ years ago).

What really needs to happen at this point is recompiling the project with the latest Emscripten.

[2017-11-14 15:45] inolen commented on #25
To do this, you would definitely have to modify the game source to call into the appropriate web APIs and recompile.

[2017-11-14 15:45] #25 closed

[2017-11-14 21:53] Calinou commented on #31
Can you give pointers on what needs to be done for this to happen? Would using WebAssembly in the long term be feasible, too?

[2017-12-11 07:48] jukibom commented on #31
@Calinou not even in the short term, building with `WASM=1` will produce a `*.wasm` file instead of `*.js` and it should run great in current versions of chrome and firefox.

[2018-01-16 09:01] MikeRich88 opened #33 "quakejs.com is down"
quakejs.com is down

"Error: connect ECONNREFUSED 127.0.0.1:8080"

[2018-03-02 18:46] programmingPug commented on #19
@inolen Do you have any other way of grabbing the content for a local content server? I'm getting "execSync incompatible with installed nodejs" when I try and pull.

[2018-04-02 22:05] oliveratgithub commented on #33
It's up and running (again) in the meantime...

[2018-04-04 22:26] jpwits commented on #19
@inolen . I also got the "execSync incompatible with installed nodejs" when I tried to pull, but did go throuh 2nd time, now get this on 'node bin/repak.js --src <assets_src> --dest <assets>", but I might need your hrlp on a different issue, I've added a .pk3 under baseq3, once I run the server :
I get 'not in the manifest', once I add any custom map and can not get it under the Single Player-> Sk

[2018-04-27 04:28] Evidlo opened #34 "Mouse drift in Firefox 57"
After QuakeJS gets a mouse-lock, the reticle immediately starts drifting in one direction.  This doesn't happen in the most recent Chromium.

[2018-05-06 00:55] SHADOWELITE7 opened #35 "system requrements"
it would be nice to have a system requirements page because my PC right now can run it only at low graphics but can be a bit laggy.

I can run [Quake Live](https://store.steampowered.com/app/282440/Quake_Live/) with no problems at all.

can it be possible to make a system requirements page or set one up as an MD file in this repository so there can be a link on [Quakejs](http://www.quakejs.com/)?

[2018-05-18 22:47] Barrelwolf38087 opened #38 "npm install fails with strange errors on clean clone"
running `npm install` in the root of the repository fails on a new clone with the following:

[code]

[2018-05-24 14:42] rundox opened #39 "More Models Please [Enhancement]"
Hello I was Wondering if you could add more player models to play as.

[2018-08-19 11:37] kgruszka opened #40 "Failing to run dedicated server"
Hi,
I've followed the instruction to run a dedicated server on Ubuntu 16.04 and couldn't have it running. The server seems to be started and trying to send heartbeat to the master server. The output of running ```node build/ioq3ded.js +set fs_game baseq3 +set dedicated 2 +exec server.cfg```:

[code]

[2018-09-21 10:22] ghost opened #41 "Why does compilation throw errors?"
I always read more step and step .

Why I have only any errors. I think you don't care to how do I build it?

What are you using version of emscripten since you built quakejs

I tried it.- I resolve copy SDL2/*.h to sys/ and sdl/ because they don't know like <SDL.h> or "SDL.h" that is why it looks like incompatible and I tried resolve but it throws unknown errors...

[code]

That is reason. Errors

[2018-09-21 17:16] a2kas commented on #40
I have same issue

[2018-09-30 21:07] TeeHeeLawrence opened #42 "Can anyone give more detailed instruction on how to make a server?"
Sorry, not to good with computers here and am confused by the original instructions, can t be done on windows or do I need a linux machine? and from there what do I do?

[2018-10-20 15:49] ghost opened #43 "Server IP"
How to know my dedicated server ip?

[2018-10-23 19:14] lklacar commented on #14
@kungfooman I agree with you. That approach works perfectly, however, I am unable to broadcast heartbeat to the master server. Please note that I did indeed change the master server to master.quakejs.com, but for some reason it doesn't seem to appear on the website. (also, the port is forwarded correctly, both for the native server and the node proxy, and running the old prebuilt ioq3ded.js works

[2018-10-24 07:44] kungfooman commented on #14
@lklacar Oh well, that was more than a year ago. In that time I turned the latest ioq3 into WebAssembly myself and learned a great deal. But my project diverged a lot from Quake3. Pretty much I wanna do my own game.

I wouldn't suggest the FFI way anymore, because it:

1) drags in dependencies, like the ffi/fastcall module
2) those dependencies don't compile everywhere flawlessly (depends on OS, i

[2018-10-24 08:10] lklacar commented on #14
@kungfooman Thanks for the suggestion. I don't really have much experience with emscripten, but I'll see what I can do. I'll post my results once I'm done.

[2018-10-24 08:18] kungfooman commented on #14
@lklacar nice, you can also join ioquake3 discord http://wiki.ioquake3.org/Live_Chat

[2018-10-25 09:00] a2kas commented on #14
really great idea suggested @kungfooman :) because i fed up with emscripten trying to build server

[2018-10-27 14:34] ghost opened #44 "Emscripten building issue"
Anyone can say whats the problem is here?

![untitled](https://user-images.githubusercontent.com/15969142/47605391-8cb6fd00-da0e-11e8-95a3-96de722932a9.png)

[2018-11-15 12:01] Hologos commented on #40
@kgruszka @a2kas: I fixed it like this:

[code]

and this

[code]

[2018-11-17 21:47] hokuco commented on #44
Seems inolen has left this place to rot.. better off trying to recreate the tutorial he originally created here:
https://web.archive.org/web/20140301184841/http://www.inolen.com:80/articles/compiling-quake-3-virtual-machines-to-javascript/

I'd be interested in grouping a few people together to make a functioning fork. just respond asking for my discord handle, and we can take this farther.

[2018-11-17 21:55] inolen commented on #44
I wouldn't say "left this place to rot." The issue is, the project was originally compiled with what is now a very old version of Emscripten (before it had an LLVM backend) and no one has made the necessary changes to get it compiling on a modern version of Emscripten.

If you'd like to make those changes, by all means I'm here to accept the pull request.

[2018-11-17 22:59] hokuco commented on #44
I'm sorry to be harsh, I was just a bit frusturated with myself that I couldnt fet this to work after trying for nearly half a year. I think it would beneficial to replicate your original dev environment, as I'm not sure what should be changed to make this llvm compatible, and I could release a compressed virtualbox file for anyone who wants to make

[2018-11-17 23:12] inolen commented on #44
There's no value in trying to compile this with a 5 year old version of Emscripten - it should just be upgraded to work with current day Emscripten.

[2018-11-17 23:40] hokuco commented on #44
alright, What can I do, does the makefile need to be revised?

[2018-11-18 01:30] inolen commented on #44
These are great questions to dig into more and learn about it you want to get this updated.

I'd suggest working with Emscripten on some smaller projects if you want to understand this better.

[2018-11-18 01:33] hokuco commented on #44
I'm going to try to bring over some old demoscene stuff made by a friend (nothing too complex), what changes typically have to be made before export
(thanks for the patience btw, I'm only 16 and it means a lot)

[2018-11-18 08:47] a2kas commented on #44
@hokuco can you give your contact? I will help help you with this

[2018-11-19 02:06] #21 closed

[2018-11-23 07:08] Hologos commented on #29
I was able to deal with this issue using proxychains. I didn't want to alter the code.

Just install proxychains with package manager, i.e: `yum install proxychains`

The configuration I had to do was in `/etc/proxychains.conf`:

[code]

and just ran the server with:
`proxychains4 node build/ioq3ded.js +set fs_game baseq3 +set dedicated 1 +exec server.cfg`

[2018-11-23 07:52] Hologos commented on #43
If you are running in on *nix machine, use ifconfig.

[2018-11-23 08:49] Hologos commented on #42
All you need to do is writen in `README.md` file (on the homepage of this project).

What you need:
- git (obviously)
- node.js server
- npm (node package manager)
- browser

You can use Windows or Linux machine, it shouldn't matter.

The easiest way is to do:
1. Download the git repository.

2. In the directory run:
[code]
3. Now create a `server.cfg` file in `base/baseq3` with this content:
[cod

[2018-12-16 15:39] olebrun opened #45 "Where is q3ctf4 map ?"
Is it possible to add q3ctf4 on a server ? and if yes, how ?
thanks :)

[2018-12-27 00:03] hamstermaner opened #46 "How to run PUBLIC dedicated server"
After setting up everything, I'am getting this info:

--- Common Initialization Complete ---
Hostname: emscripten
IP: 172.XX.X.X  <-- my server ip addresss?
Opening IP socket: 0.0.0.0:27960
ignoring setsockopt command
execing server.cfg

But I can only connect to the server by the local host link: http://www.quakejs.com/play?connect%20localhost:27960

When I try to connect with "http://www.quakejs

[2018-12-27 05:31] Hologos commented on #46
That's an intricate question.

IP address 172.XX.X.X is so called [private network](https://en.wikipedia.org/wiki/Private_network#Private_IPv4_addresses), it can't be propagated through the internet.

1. If you want to have a public server, you need a public IP address. You can find it [here](https://www.whatismyip.com/what-is-my-public-ip-address/).
2. Then you need to find out, it you are behind

[2019-01-08 12:25] thesour opened #47 "Quakejs.com severs"
Hello, can someone let me know how to find new quakejs servers? All the public ones are listed on the game site? Because yesterday there were 2 servers, now there's only one, and the map never changes. We're playing at work hahah on iMac's so we cannot create a new server.

[2019-01-08 12:54] Hologos commented on #47
Why wouldn't you? Follow instuctions mentioned in #46 if those in README doesn't make sense to you. I am running one on my mac.

[2019-01-08 13:09] thesour commented on #47
we cannot install anything work-unrelared on the workstations unfortunately

[2019-01-08 14:12] Hologos commented on #47
Can you install a virtual machine?

It doesn't work from in-game.

If the server doesn't send heartbeats to the master server, it doesn't appear on the list. To find public servers, you will have to scan the entire internet a look for servers open on default port 27960. Maybe using shodan.io can do the trick.

[2019-01-23 08:44] NTT123 commented on #44
I've managed to successfully compile with the latest emscripten. The hack is to hardcode the offsets of structures instead of using Runtime.genStructureInfo which is no longer supported.

However, it currently has performance problems and noticeably slower than the version at quakejs.com. Checkout the project at https://github.com/NTT123/quakejs

[2019-01-23 14:22] inolen commented on #44
@NTT123 fantastic!

I'd love to update the website with a modern version, and have no problem merging your changes if you want to keep them rolling.

The performance problems however are kind of a bummer - any idea where the major regression is?

[2019-01-23 14:24] a2kas commented on #44
really nice, I have been trying to build it over 2 months :D

[2019-01-24 13:06] NTT123 commented on #44
@inolen, openal function calls somehow runs slower than the old version.

Unfortunately, when I replace openal library with an older version from emscripten git commits, the whole game still consumes more %CPU than the older version running at quakejs.com, especially when running on complex maps.

[2019-01-26 18:20] OstrichBot opened #50 "Running as service with systemd"
Is there an example of how to run quakejs as a systemd managed service?

Runs fine as dedicated server from console.
Appears difficult to start as systemd due to environment variables.

[2019-03-15 12:13] konrad-bak opened #51 "quakejs.com master server is down"
screenshot from quakejs.com :

http://i.imgur.com/GVGV2QM.png

[2019-03-24 21:48] rundox opened #52 "Content server down?"
I have been attempting to create a server for quake for a while now. Whenever I try to run`node build/ioq3ded.js +set fs_game baseq3 +set dedicated 2 +exec server.cfg` it gives me this:https://imgur.com/pCRIJjN . Is this an error on my part or is the server down?

[2019-03-26 03:01] inolen commented on #51
Thanks for the heads up, this got fixed last week or so.

[2019-03-26 03:01] #51 closed

[2019-03-26 03:01] inolen commented on #52
Thanks for the heads up, just rolled back a change to fix this.

[2019-03-26 03:01] #52 closed

[2019-04-05 11:26] #35 closed

[2019-04-05 11:27] SHADOWELITE7 commented on #35
I didn't mean to reopen it. I thought I forgot to close it.

[2019-06-07 12:32] Svzem opened #53 "recursive error after: Couldn't compile shader"
This error has appeared after upgrading google chrome to the latest release (Version 75.0.3770.80 (Official Build) (64-bit))

[2019-06-10 13:27] Passion999 commented on #38
The same problems.Did you solve this at last?Please help me.

[2019-06-13 21:12] MichaelEricOberlin commented on #53
I'm bumping into the same thing; interestingly enough, it works great on Firefox, but not Chrome. I'm specifically running Linux Mint 19, on an AMD FX-8300, with a GTX 950 GPU.
(I _love_ that this works at all though!)

[2019-06-18 03:50] #53 closed

[2019-07-08 12:31] kgruszka commented on #40
thanks a lot! @Hologos  I'll test it, also can share terraform script to run in on EC2 in AWS

[2019-07-09 02:21] begleysm commented on #50
I just recently got this working under Debian 9.  I've detailed the process here:
https://steamforge.net/wiki/index.php?title=How_to_setup_a_local_QuakeJS_server_under_Debian_9#Finalize_the_Setup

[2019-07-09 02:24] begleysm commented on #42
I've written up a pretty detailed instruction list on how to create a local server (designed to be hosted and accessed on a LAN, not listed on the master server list) here
https://steamforge.net/wiki/index.php?title=How_to_setup_a_local_QuakeJS_server_under_Debian_9

Making it externally accessible is really just a matter of setting up port forwards on your router.

[2019-07-09 02:26] begleysm commented on #30
I've created a detailed walk-through on setting a game server, content server, and play page for use in a LAN environment here https://steamforge.net/wiki/index.php?title=How_to_setup_a_local_QuakeJS_server_under_Debian_9

[2019-07-09 02:28] begleysm commented on #19
I've written a guide on how to setup a game server, content server, and play page here
https://steamforge.net/wiki/index.php?title=How_to_setup_a_local_QuakeJS_server_under_Debian_9#Finalize_the_Setup

The discussion on this thread was integral to me figuring out how to get everything working so a specific thanks to @LWSS!

[2019-07-09 03:01] EddieOne commented on #19
Looks great. I will give it to our devops. Hopefully we could get it going again. The iframe on y8.com was broken when we moved to https.

[2019-08-02 16:48] megamindbrian commented on #1
Just got this, maybe there is a bug. Looking into it.

[2019-08-02 21:23] megamindbrian commented on #14
Changing Makefile to ```$(B)/client/cl_console.o : ../.git/modules/ioq3/index``` worked.

Getting error ```Assigning a non-existent settings attribute "OUTLINING_LIMIT"``` now.

[2019-08-04 04:17] megamindbrian commented on #14
Got it working

https://github.com/megamindbrian/planet-quake/commit/8d19f86fdfdf4c51f4021a9971ad3886b49d1fe9

[2019-08-05 23:43] matthiasseemoo commented on #14
@megamindbrian Thank you very much. Now it compiles ;-). However, I did not manage to start a game in my browser. I used the webserver files from quakejs and started a server using `node bin/web.js --config ./web.json`. In the web console, I get the following error message: `ReferenceError: ioq3 is not defined 0.0.0.0:8080:97:4`. Any hints on how to solve this issue?

[2019-08-09 04:26] megamindbrian commented on #44
I have this building against the latest ioq3, I've repatched all the emscripten specific stuff.
I need to go back through and add ```#ifdef EMSCRIPTEN```.

https://github.com/megamindbrian/planet-quake/commits/repairing-quakejs-changes

I am stuck on loading ```.map``` files for the menu system. ui.qvm and ui.map.  I don't know why these are excluded in the asset graph and I don't totally understa

[2019-08-10 09:27] megamindbrian commented on #44
Working in this branch:
https://github.com/megamindbrian/planet-quake/commits/repairing-images

I should have a PR pretty soon for ioq3. There is probably still some work to get new environments working conveniently. Make could install emsdk (kind of a pain) for example.

The gist of this is, ioq3 has reorganized a lot since 2014, but the changes are pretty simple.
* Backed out the alpha shader st

[2019-08-16 22:44] megamindbrian commented on #44
Turns out some of the hardship in debugging this, in case anyone is still following. emscripten acts differently when it is compiled to WASM=1 versus JS. I assume this is because assembler instructions are run inside some sort of For-loop. The javascript thread won't break out of a for loop, but running in JS, calling other functions makes them async. This is a problem because the HEAP is managed

[2019-08-17 23:00] megamindbrian commented on #14
Got a new build out on https://quake.games if anyone wants to pull just the static JS files.

https://quake.games/?set%20name%20MyName

[2019-08-17 23:01] megamindbrian commented on #44
@a2kas @inolen @NTT123 I think the slowness comes from playing background level music.

It kept restarting so I disabled it in the build and now it appears to stay open for +10 minutes. Before it would get to 10 minutes, sounds would start skipping, and dropping frames.

https://quake.games/?set%20name%20Name

[2019-08-18 04:10] megamindbrian commented on #44
This looks absolutely perfect for the JS build:

https://github.com/cdev-tux/q3lite

@cdev-tux How much work would it be to combine the ES version upstream as a build option?  I will try a cherry pick from my branch anyways.

[2019-08-18 06:13] cdev-tux commented on #44
Q3lite uses a modified GPLv3 license (DOOM 3), and the upstream ioquake3 project uses a GPLv2 license so they can’t use GPLv3 code.  They would need to find a GPLv2 GLES renderer I believe.  It would be straightforward for one of their programmers to add it.

[2019-09-08 13:14] begleysm commented on #11
I've written up a detailed guide on installing quakejs under Debian 9/10.  It includes a section on creating your own play page and content server.  Once that is all working locally, getting it to work "on the internet" is simply a matter of setting up port forwards on your router 80 and port 27960.

https://steamforge.net/wiki/index.php/How_to_setup_a_local_QuakeJS_server_under_Debian_9_or_Debian

[2019-09-09 18:08] begleysm commented on #43
Actually you're probably wanting to know the "external IP" of your server.  This is basically the IP of your router.  You can find it by going to a site like https://whatismyipaddress.com/.

There are tons of these sites and you can find a large list here https://duckduckgo.com/?q=what+is+my+ip&t=ffab&ia=answer.

[2019-09-09 18:09] begleysm commented on #42
I recently got a local server running on Windows 10.  The instructions are written up here.  It currently uses the UwAmp web server as... honestly... IIS10 is a pain in the butt!

https://steamforge.net/wiki/index.php/How_to_setup_a_local_QuakeJS_server_under_Windows_10

[2019-09-09 18:11] begleysm commented on #19
For anyone who is a Windows person I recently got a local server setup under Windows 10.  I put up detailed instructions here: https://steamforge.net/wiki/index.php/How_to_setup_a_local_QuakeJS_server_under_Windows_10

[2019-09-11 20:02] megamindbrian commented on #44
@cdev-tux Oh. I am not sure what licensing has to do with progress... Could ioq3 upgrade their license?

https://quake.games/?set%20com_maxfps%2035

Setting the frame rate at 35 (slightly higher than what I feel like the eye notices because a few frames are dropped) instead of the default 85. Maybe the garbage collector catches up with the emscripten GL stuff? It returns to 30-40% CPU usage after

[2019-09-13 07:36] pablochud opened #58 "Maps server.cfg"
Hello,
What is the list of available maps?
Does q3dm19 exists ?

[2019-09-29 17:28] megamindbrian commented on #44
This is exciting enough to me I had to post about it. I modified the engine to load two separate maps and link them together with a portal camera, here it is sort of working, you can see the seam from the camera which is placed slightly wrong so there is a crack in the door. I want to use this to create a single seamless gameplay between "arenas", more like an MMO.

<img width="1306" alt="Screen S

[2019-10-07 12:47] begleysm commented on #30
For anyone who is interested, here are instructions on how to get everything running under Windows 10.

https://steamforge.net/wiki/index.php/How_to_setup_a_local_QuakeJS_server_under_Windows_10

[2019-10-07 12:51] begleysm commented on #19
@EddieOne FYI, I recently found out that the compiled code references content.quakejs.com essentially checking to see if it is pingable before allowing the game to proceed.  The instructions (as of back in July when I 1st posted) did not account for this and while the content was downloaded from the local content server, it still required that content.quakejs.com be pingable.  This meant that if y

[2019-10-08 21:41] EddieOne commented on #19
Thank you, good catch. I hope our devops will be able to add this game. Record it for the history books. They are so busy though. So I'm waiting still. 🤞

[2019-10-29 14:05] elisauskas commented on #19
I have made an image:
`docker run -p 8080:80 -p 27960:27960 -e SERVER_ADDRESS='YOUR_IP_ADDRESS' registry.gitlab.com/elisauskas1/quakejs`
- Please replace YOUR_IP_ADDRESS with Your machine's internal IP address in Your local network via which other players will join the server.
Join the game at http://YOUR_IP_ADDRESS:8080 in Your browser from any PC in the same network.

[2019-11-11 04:05] #50 closed

[2019-11-22 16:39] mastersam2015 opened #60 "how to install noghost?"
how to install noghost?

[2019-12-19 03:04] UA106 opened #61 ".pk3 Files"
Is it possible to use the .pk3 files from any Quake III engine game? I wanted to try my Jedi Academy .pk3 files on here.

[2019-12-20 04:48] stevezau commented on #61
I Also want to know how to load my own maps? I have my local server running, added the pk to baseq3 folder, i can see it detects it but says not in manifest.
when i try change to map i get map not found.. any idea where i can t-shoot?

[2019-12-21 00:27] stevezau commented on #19
Any steps on how to add your own maps?

[2019-12-21 00:27] stevezau commented on #58
I am looking to add my own maps but it's not easy, can't figure out how yet.. updated mainfest but not being picked up.

[2019-12-21 13:42] begleysm commented on #19
I haven't, personally, done anything with custom maps.  However I do have some steps on how to do this from a guy I was communicating with over email (regarding a Windows setup).  I've had it in the back of my mind to walk through them and add a section to my How Tos but I haven't gotten around to it yet.

Here are the relevant excerpts from my email conversation with him:

This is what I did to k

[2019-12-21 13:43] begleysm commented on #61
I haven't, personally, done anything with custom maps.  However I do have some steps on how to do this from a guy I was communicating with over email (regarding a Windows setup).  I've had it in the back of my mind to walk through them and add a section to my How Tos but I haven't gotten around to it yet.

Here are the relevant excerpts from my email conversation with him:

This is what I did to k

[2019-12-21 16:16] briancullinan commented on #61
I really like this idea of splitting up the menu system and maps and uncommon textures in to their own pk3s. Thank you inolen!

I have had just over a few people reach out to me personally regarding this. We wanted to run Defrag mod. When we tried to use repack.js, I ran into errors with some of the naming conventions used inside a shader files. Repack, and it's dependency, quakejs-files wasn't ve

[2019-12-23 16:08] osfpsproject opened #62 "Upgrade to webassembly ?"
Perhaps useful to upgrade this quake javascript version to webassembly ?
Its much faster in downloading and parsing (x10 - x20 faster)

[2020-01-04 09:27] stevezau commented on #19
Hrmm, i tried  to do this but got stuck.. I simply just tried  to add a custom  map from https://lvlworld.com/.

I added the pak file in the same place  as the other pak  files. I updated the manifest in both the www and server but for some reason it is not picking up  the updated mainfest.

I also wasn't sure how to do the checksums.. I did a checksum of the  existing pak and it was different to

[2020-01-04 13:05] begleysm commented on #19
I sent an email to the guy who figured out how to do custom maps with a link to this thread.  Hopefully he'll come give you some advice.

[2020-01-04 13:15] Grabisoft commented on #19
Hi the process to customize the quakejs, not only maps but also player models and stuff was basically the same steps as to the conversion from demo to full quake 3. You just edit the pk3 files with the maps and player models or bots that you wish and then modify the numbers in the js files accordingly I made an extense step by step video tutorial hope it works for you https://youtu.be/m57rMXASWms

[2020-01-05 07:59] stevezau commented on #19
@Grabisoft thanks, watching it now. I think i where I got stuck, didn't realise it was a crc32 algorithm used for the checksum.  testing now.

I also signed up to your site :)

[2020-01-05 08:46] stevezau commented on #19
wrote this to make generating the checksum easier.

You'll need to install buffer-crc32

`npm install buffer-crc32`

Copy below to  a file and run with `node <file_name>`

[code]

[2020-01-05 09:27] stevezau commented on #19
wrote this to make generating the checksum easier.

You'll need to install buffer-crc32 and glob

`npm install buffer-crc32 glob`

Copy below to a file within the assets folder and run with `node <file_name>`

[code]

[2020-01-05 10:06] stevezau commented on #19
hmm when running the ded server i can see this

[code]

[2020-01-05 12:43] begleysm commented on #19
Again, I haven't actually added custom content myself yet, but I think I might be able to help.

If you followed my guide then there should be a file `manifest.json` located at `/var/www/html/assets` that lists all of the files in `/var/www/html/assets`.

Relevant sections of my guide are here for The Simpler Method (Setup a Local Content Server / Step 4)
https://steamforge.net/wiki/index.php/How_

[2020-01-06 01:57] stevezau commented on #19
@begleysm thanks but i am just trying to get  it working on the ded server first which does not use the content server.

If i place a new pak  the server can see it but does not load it due to below reason. tested this by typing `map devdm3` on the server, it says `Can't find map devdm3map`. However, if i embed the map into the pak it seems to work (i think). There must be a way to make it accept

[2020-01-06 14:23] begleysm commented on #19
I don't think you can segregate the dedicated server and the content server like you want to.

Check out this line in ioq3 (which, ultimately, is compiled code used by your dedicate server)
https://github.com/begleysm/ioq3/blob/master/code/qcommon/files.c#L3461

You'll see that it is "saving" the address "content.quakejs.com" to the variable `fs_cdn`.  Then in other places (like those linked below

[2020-02-04 17:57] ghost opened #63 "_"
_

[2020-02-05 21:37] briancullinan commented on #61
I am currently in the process of removing this restriction where cUrl has been disabled and server downloads are disabled. This should make customs pk3s a more traditional experience.

https://github.com/inolen/ioq3/blob/4f7d7bf2159aa0a18b79bb417aa760abac817b2a/code/client/cl_main.c#L2501

This is excluded from QuakeJS because it's assumed you don't want 300MB laying around in your browser storage

[2020-02-07 19:14] stevezau commented on #61
@briancullinan nice, is there somewhere i can watch or get updated when your changes are merged/released? Is there a PR?

[2020-02-08 00:45] briancullinan commented on #61
@stevezau Got a pretty nice branch together. If you need any help compiling, let me know. I will try to get this posted on https://quake.games pretty soon with a single map in rotation.

https://github.com/briancullinan/planet_quake/tree/ioq3-quakejs

I re-branch and reset in order to "squash" instead of actually squashing, so I will probably switch to a new branch to fix the dedicated server buil

[2020-02-12 04:21] briancullinan commented on #47
Finally something quakejs doesn't have! I got SOCKS running, I'll put it in the cloud so anyone using the JS client can connect to native servers.
<img width="1605" alt="Screen Shot 2020-02-11 at 4 47 50 PM" src="https://user-images.githubusercontent.com/25057134/74302660-84262b00-4d14-11ea-8c14-9f52ed63d79c.png">

[2020-02-12 04:24] briancullinan commented on #46
Some ISPs block incoming connections unless you request it specifically. I will get this SOCKS proxy posted in the cloud and then anyone can connect.

[2020-02-12 04:27] briancullinan commented on #62
@osfpsproject my branch builds wasm. Hey orange smoothie! I'd love to see some source code, especially since it's GPL2!

[2020-02-12 19:55] briancullinan commented on #61
Proxy server supports SOCKS now, so you can connect to any server with web client, not only quakejs/websocket servers.

[2020-02-14 03:40] briancullinan commented on #44
I tried to reapply the fast vid_restart hack, but it doesn't seem to work :(

Not sure how to fix this performance stuff, but running with -s SAFE_HEAP=1 causes lots of weird errors, I am going to try to find changes in other engines that improve performance.

For example, this might help if the HEAP is leaking:
https://github.com/ec-/Quake3e/commit/bef917af6e6f2617af4bcd252e534dcefbf2c1b3

Instea

[2020-02-17 00:24] briancullinan commented on #44
@JakeTrock @NTT123 @a2kas I can say with certainty the slowness is caused by `S_Respatialize()` called in CGame. It might be calling too often for Emscripten OpenAL (audio layer), it's only partially supported and the respatializing function is slowing things down. I've run the Performance calculator in Chrome and it takes up 99% of the CPU. Turning audio off completely using `+set s_initsound 0`

[2020-02-17 04:57] briancullinan commented on #60
@mastersam2015 Start by asking the original author to post source-code to the qagame files.

[2020-02-18 19:29] jimnarey commented on #14
@briancullinan Hi - would you mind posting some details of how you built your emscripten environment to get a successful build? I have tried many combinations of your repo @ at the given commit and the inolen's repo with the latest emsdk, the emscripten/llvm etc versions in the Ubuntu 18.04 repos and emscripten 1.12.0 (the last with either the other parts of the latest sdk or the repo version of l

[2020-02-19 18:27] briancullinan commented on #61
This should help with reducing load times, basically the game loads all the files server side and creates a map using bg_misc.c, then it tells clients which pk3s they will need, using the built in download system, but instead of cUrl, it uses XHR in the browser. Here's the layout of files for the new repacking system:

[code]

[2020-02-29 04:22] briancullinan commented on #61
Wow, this has been an incredible journey. I have found some weird, weird stuff. `q3ctf5.aas` doesn't have a BSP map file. So q3ctf5 doesn't exist. This led me to the website https://tcrf.net/Quake_III_Arena The Cutting Room Floor that investigates these kinds of missing files and assets and speculates on their original purpose!

There are about 200 files in baseq3 that are never used. No sense in

[2020-03-01 01:19] briancullinan commented on #61
@A12509188 Can you link me some downloads for Jedi Academy?

[2020-03-05 02:56] briancullinan commented on #58
q3dm19 is a good map.

[2020-03-07 21:36] stevezau commented on #61
Hey, @briancullinan I plan to look at adding custom maps this week. I read the above but i am not sure i'm following.

It seems you are digging into the code, making modifications to make the whole process simpler? Is that right? It is a WIP Right?

[2020-03-13 23:49] briancullinan commented on #61
@stevezau Yes, I've reviewed every single line of QuakeJS 10x over. It's really nice code. Some gems for sure, like this CPMA hack in the VM to switch the default model Mynx with the Vanilla default Sarge. I also fixed this bug using the Quad damage, as it is wearing off it repeats the wear-off sound constantly instead of just 1 time per second creating a buzzing noise. I need to apply this change

[2020-03-13 23:50] briancullinan commented on #47
@thesour My proxy server would enable you to start a local/internet server at work and access it from in game as normal.

[2020-03-15 19:20] briancullinan commented on #61
The repack script I wrote has too many missing files, I think I will only use the conversion feature, and skip the whole graphing and repacking concept. I will have to modify the renderer and probably add this:
https://github.com/Chomenor/ioq3_new_filesystem

[2020-03-19 01:23] stevezau commented on #61
ok, ill give it a  go today.

[2020-03-23 13:26] steinroe commented on #40
@kgruszka could you please share the terraform script?

[2020-03-23 18:36] steinroe commented on #40
@Hologos this does not work for me. Still stuck at sending heartbeat to server

[2020-03-23 18:41] Hologos commented on #40
Hi, the comment is year and a half old, the code has changed a lot.

[2020-03-23 21:21] steinroe commented on #40
Hi, do you have any other idea why it stucks there?

[2020-03-23 21:29] Hologos commented on #40
I haven't been following this project for a year, sorry.

[2020-03-24 09:29] steinroe commented on #19
@begleysm I followed your great instructions but it stucks a
[code]

Any idea where this Hitch warning comes from? I am trying to set up a public server on a google compute engine Debian 9 machine.

[2020-03-24 11:26] begleysm commented on #19
@steinroe The "Hitch warning" is normal and won't have any adverse effect on your server.  You should be able to proceed with the instructions without issue.

I'll add a line in the instructions saying that you don't have to worry about the Hitch warning.

[2020-03-26 11:53] timdonovanuk commented on #19
I followed the simple method with no problems, but once I hit the server in a browser I get the lovely QuakeJS logo but nothing else happens. Not sure where to look to troubleshoot?

P.S. would be great if this could be made into a self contained docker image :) I got voroninman/quakejs-server going but I think it's just the server and not the webhosting bit.

[2020-03-26 11:56] steinroe commented on #19
@timdonovanuk Where did you deploy? And what does the log say?

I have had several issues when trying to deploy to GCP Compute Engine due to a lack of knowledge in their network configurations. With AWS EC2 it worked like a charm.

[2020-03-26 14:44] timdonovanuk commented on #19
I'm deploying at home. Not sure where/which logs to look at, to be honest. I've confirmed the quake server is successfully running though, as I can join it via quakejs.com/play

[2020-03-27 12:51] begleysm commented on #19
@timdonovanuk you probably have your address to your Content Server wrong in index.html (or have some other reason why you can't access your content server).

If you access your server from quakejs.com/play then you are using their content server.  If you go to your index.html Play Page and just get the QuakeJS logo then it isn't talking to the content server.  The 1st thing that happens is it che

[2020-03-29 01:19] nicolasgreenhill opened #64 ""Sending heartbeat to master.quakejs.com" and it stays there"
Please help:

I'm tyring to run a dedicated quakejs server, but when when I do: I got the following output:

Resolving master.quakejs.com
master.quakejs.com resolved to [my private IP]
Sending heartbeat to master.quakejs.com

and it stays there.

I'm on a debian machine

[2020-04-04 23:30] briancullinan commented on #14
@jimnarey  Sorry it took so long to get back to you. We are currently working on building a dockerfile with everything configured. If you are looking at the latest master branch here:
https://github.com/briancullinan/planet_quake/

That includes lazily loading graphics. It works pretty well, the first 30 seconds are pretty bad, but the benefit is, it only loads the graphics and sounds used for tha

[2020-04-05 00:08] briancullinan commented on #40
@steinroe  @Hologos  I have it running if you want to email me. Email is in my profile.

[2020-04-12 14:12] markcs commented on #29
@Hologos  I know this is an old issue, but can you detail what you had in the ProxList to get this working?  Thanks!

[2020-04-19 22:29] treyyoder commented on #19
Here are instructions on how to spool up a Dockerized server in seconds: https://github.com/treyyoder/quakejs-docker

[2020-04-19 22:32] treyyoder commented on #40
Or you could just use Docker: https://github.com/treyyoder/quakejs-docker

[2020-04-19 22:36] treyyoder commented on #64
@nicolasgreenhill are you Docker savvy? https://github.com/treyyoder/quakejs-docker

[2020-04-19 22:42] treyyoder commented on #42
Piggybacking on @begleysm's work here is a Dockerized server:
https://github.com/treyyoder/quakejs-docker
Super simple and rolls all those steps into a single command

[2020-04-19 23:34] begleysm commented on #19
@treyyoder Awesome job!  Thanks for the shout out.  I'll update my instructions soon with a link to your project.  I know lots of people like Docker.

[2020-04-20 00:19] elisauskas commented on #19
There is with CI.
https://gitlab.com/elisauskas1/quakejs/-/tree/master

[2020-04-21 16:30] fireflypie commented on #60
Yeah.. just creating a folder eg, noghost/ and running it with node build/ioq3ded.js +set fs_game noghost +set dedicated 1 +exec server.cfg
 won't work...

[2020-04-22 15:50] ENT108 commented on #28
You can edit .pk3 and add your config there and then run ```\exec <your_config>```. That's one thing. I am working on saving feature... but this may take time, IDBFS is new to me.

[2020-05-02 22:25] onny commented on #19
@stevezau , @begleysm It still looks complicated to put custom maps, e.g. from the full version into QuakeJS. Has actually someone managed to do this and is there a updated instruction?

[2020-05-03 01:32] begleysm commented on #19
@onny here is a video made by @Grabisoft that shows how to setup custom maps from the full version of Quake in Windows.  It might help you.

https://www.youtube.com/watch?v=m57rMXASWms&feature=youtu.be

[2020-05-04 12:49] talvasconcelos opened #65 "Where is start and end game functions?"
When is the best place i can have something run before ready state, just before entering the game?
I need some user input before he enters game arena and also display something when game ends or user checks out. Where in the code is the best place to do it? Preferably  I'd like to not mess much with quake's code and be able to either intercept websocket at the server implementation, if it's possib

[2020-05-04 20:49] onny commented on #32
Hey thanks for asking. I'm getting this error when I try to run repak.js:
[code]
How did you solve this issue?

[2020-05-04 21:00] onny commented on #32
Okay I fixed that by replacing execSync with ``require('child_process').execSync`` in ``repack.js``. But now same issue as above. The assets folder is empty :(

[2020-05-04 21:21] onny commented on #32
@briancullinan

[2020-05-06 07:52] thedankay commented on #32
@Elijahg @onny you probably need to run `node bin/repak.js --src base --dest assets` instead

[2020-06-06 12:53] digidigital commented on #19
When you put custom maps in the pak0.pk3 you may run into the issue that you have a lot of missing textures.

This issue can be solved by manually adding the missing textures. If you use the demo pak0.pk3 you can take the CC-licensed hi-res textures from [here](https://ioquake3.org/extras/replacement_content/) or in case there is still something missing from [openarena](https://ioquake3.org/extras

[2020-06-08 19:06] briancullinan commented on #65
Sys_PlatformInit
Sys_PlatformExit

Otherwise you could always add a function call out to JavaScript if you need to do something with HTML. Sys_GlimpInit, and Sys_Fs_Startup will always be called before the game starts.
Might I ask what you are working on? Maybe some kind of authentication before a game? I've even considered automatically creating an Rcon setup when hosting games.

[2020-06-08 23:28] digidigital commented on #31
As workaround I have deleted the annoying sounds from the pak0.pk3

[2020-06-08 23:29] digidigital commented on #19
I have written a step-by-step guide on how to add custom content as described by Grabisoft [guide](https://github.com/digidigital/quakejs/tree/master/cctools)

[2020-06-09 13:13] begleysm commented on #19
Your pull request has been approved and your [guide](https://github.com/begleysm/quakejs/blob/master/README.md) is now part of my [quakejs fork](https://github.com/begleysm/quakejs) too.  Thanks @digidigital!

[2020-06-24 01:52] digidigital commented on #19
@begleysm I have followed @treyyoder s path and created a separate installer-script that makes adding custom content super easy :)
https://github.com/digidigital/quakejs-installer/

...I still need to add the EULA since I had to use Trey's "fixed" ioq3ded.js

@begleysm I think your guide for setup needs to be updated regarding the command to start the quakeJS server. I assume if we add the content

[2020-07-03 19:39] pmfederico opened #66 "Would be cool to have some quake mods available like True Combat"

[2020-07-08 01:51] viraptor opened #67 "Starting with content server results in errors"
When specifying a content server, I get the following at startup:
[code]

[2020-07-09 20:47] briancullinan commented on #67
Skip it, if you supply an fs_basepath with pk3s installed you don't need to check for installer files.

[2020-07-09 20:48] briancullinan commented on #66
@pmfederico PM me on Discord, `@megamind`

[2020-07-10 15:18] pmfederico commented on #66
@briancullinan Could you share your full user id megamind#xxxx then I'll message you for sure

[2020-07-13 20:11] briancullinan commented on #66
@pmfederico PM me on Discord, `@megamind#1576`

[2020-07-14 08:02] viraptor commented on #67
This doesn't seem to work. Setting fs_basepath to `./base` returns the same error. Setting it to `./base/baseq3` returns:
[code]

[2020-07-14 17:47] briancullinan commented on #67
I think fs_basepath should be absolute, not relative, i.e. `./`.

[2020-07-15 00:17] viraptor commented on #67
Full path like
[code]
still results in
[code]

[2020-07-28 23:44] codersmoon opened #68 "How can ı make other pc games for browsers ?"
I want to make other pc games for browsers.For example counter strike 1.5.What should i do?TY

[2020-08-06 01:57] mars64 commented on #42
I recently stumbled upon https://github.com/criticalstack/quake-kube and was able to get the game running pretty quickly. If you have a Kubernetes cluster and know how to use it, this is worth a check. Huge props to the Criticalstack dude.

[2020-08-08 16:33] XanderStrike commented on #67
I resolved the same error by downloading `linuxq3ademo-1.11-6.x86.gz.sh` and `linuxq3apoint-1.32b-3.x86.run` from the public content server, and putting it into the assets directory that I use as a source for `bin/repak.js`. Then they'll be part of your manifest and you'll pass this check.

[2020-08-09 00:56] XanderStrike commented on #61
I'm kind of baffled by your posts @briancullinan, it sounds like it took reimplementing parts of quakejs? I don't really know where to begin if I wanted to utilize your work. From a user's perspective quake.games is incredible though, the speed the levels load is amazing and it looks like most maps work including the custom ones you've added. Very cool. If you're up for it, I'd love a start to fin

[2020-08-09 12:21] viraptor commented on #67
Yes, should've reported - adding those files makes the server work just fine 👍
Processing with the standard values even fixes the broken/missing textures in pro-q3dm6.

[2020-08-15 04:56] briancullinan commented on #68
The key to most of this is tracing file system calls all the way back to `main()`. It won't work if your game requires synchronous file system calls. All of the file loading has to be done up front before game play starts. Unless your game handles when files become ready. Rendering a frame also has to return to `main()` so `requestAnimationFrame()` can update the screen.

Counterstrike already has

[2020-08-21 00:47] briancullinan commented on #61
@XanderStrike my build uses WebGL 2.0

[2020-09-04 22:30] briancullinan commented on #58
I have begun uploading every map from lvlworld.com at no expense to performance. Soon you will be able to use any map. I will put the converted pk3s out there too, in case anyone needs to load it in the latest version here.

[2020-09-12 16:42] glennhartmann opened #69 "repak.js is broken on newer node installs"
running it results in errors that look like this:

[code]

due to the `temp` package being too old and trying to call `os.tmpDir()` instead of the newer `os.tmpdir()`.

Fixing that locally then results in further errors:

[code]

The `execSync` package is no longer supported, and can be replaced with built-in `child_process.execSync`.

[2020-09-20 22:39] briancullinan commented on #69
There are other problems deeper in.
https://github.com/inolen/quakejs-files/issues/2
And someone PRed a change that uses some internal buffer on the file stream and that no longer works. Use my repack on latest commit, cli options are extensive and in the readme and available with `npm run repack -- -h`

[2020-09-21 21:48] briancullinan commented on #29
I wrote a SOCKS server to get around this, you can probably connect to was://proxy.quake.games but I modified the client to send a 0x05 network type for connecting outwardly to web sockets, so it won't connect to quakejs servers with this build, but you can use it to connect to UDP servers naturally. `set net_socksEnabled` `net_socksServer` and `net_sockaPort` all have to be set properly.

[2020-10-23 20:48] jasondaigo opened #73 "where do clients enter passwords?"
when i start the server with seta g_password where are clients suppose to enther the password? can they put it somewhere in the connect url?
thanks in advance

[2020-10-31 17:19] briancullinan commented on #73
Yes. Enter the standard url http://www.quakejs.com/play?connect%2034.107.80.109:27960&set%20g_password%20password123

[2020-12-04 20:24] TheSoaringDingo opened #74 "CTF server will not work"
I just got into quakejs because it is unblocked for browser and the capture the flag servers aren't working. they say awaiting gamestate and never load. Does anyone have a solution to this problem?

[2020-12-24 04:09] briancullinan commented on #74
Can you post a URL that you are using to connect?

[2021-02-11 14:34] tr4g opened #76 "any way to make stats or are there any events that I can listen to?"
Hi, i'm trying to keep match statistics for further analysis, but I can't find anything related in the documentation, and I wouldn't like to edit the game code itself

Is this possible somehow from index.ejs?

[2021-02-13 18:50] tr4g opened #77 "any way to add touch controls to make it mobile-friendly?"

[2021-02-15 22:39] zmbbmz commented on #16
quake 3 was and is nearly unplayable not using an own config file. you have to re-change a bunch of binding and commands :/

[2021-02-17 19:16] #29 closed

[2021-02-17 19:44] briancullinan commented on #77
I added NippleJS to my build (https://quake.games). Works pretty well, but vertical-look makes is a bit too chaotic. There is also an Android native build here, https://play.google.com/store/apps/details?id=ws.openarena.sdl&hl=en_US&gl=US
And there is an Occulus version being built https://www.youtube.com/watch?v=-jgpVbIBq7Y Author is on Q3e discord, but I don't know that he's release source code.

[2021-02-18 01:57] briancullinan commented on #76
This sounds like it's outside the scope of QuakeJS and inside the scope of quake 3. Many servers are set up with logging and then those logs are read and stored in a database, then that database shows game results on something like ejs

[2021-03-20 22:21] Locustv2 opened #78 "Adding new serverside mod to enhance game servers"

[2021-03-24 18:25] Locustv2 commented on #14
How did you fix that? I am also getting this error

[2021-03-24 18:41] briancullinan commented on #14
@Locustv2 Remove `-s OUTLINING_LIMIT=20000` from the Makefile line ~917

[2021-03-24 19:02] briancullinan commented on #14
Looks like it is a firstClick error. I should have this sorted out soon.
That will take care of sound, then I will try to fix the  "Locals" game
server menu with quakejs games.

It's worth noting. Many ISPs block UDP connections to various incoming
ports. I forget sometimes, I have to run my proxy server in the cloud. When
using Docker, the proxy server is running behind your ISPs  firewall. So
ev

[2021-03-24 19:03] Locustv2 commented on #14
@briancullinan which version of emscripten did you use? I am using the latest and now, after removing the outlining, i am getting:
[code]

[2021-03-24 19:37] briancullinan commented on #14
@Locustv2 I dug this up for inolen last year. This is the last point that I applied quakejs concepts to newer ioquake3. After this I started removing some designs and eventually switched to Q3e. https://github.com/briancullinan/planet_quake/commit/83a729d1b2dfb0c7bc0c859b3ab6ed2973a8d13c

But even that file, I've already removed the CRC stuff. Ideally, instead of the whole manifest file, we could

[2021-03-24 20:12] Locustv2 commented on #14
@briancullinan okay awesome. i am already having a headache with this emscripten version... it's like a chain of exceptions.

[2021-03-24 20:17] briancullinan commented on #14
@Locustv2 Completely agree. Emscripten is a huge pain. It might be worth it to remove it altogether and compile to Web Assembly with only the OS calls that are needed implemented in JS.

[2021-04-27 21:08] daniel-adamek-eit opened #79 "Disable /timeout"
Please disable /timeout command. Some idiots spam this command and it freeze the game for 110 seconds.

[2021-05-21 15:57] Andacious commented on #28
Has anyone found a way around this? I host a server to play with coworkers and their number 1 gripe is that they lose their keybindings every time. Has anyone even made some partial progress that others can build upon?

[2021-05-21 19:03] ENT108 commented on #28
Nope. As a workaround, I put player's customized configs to the server. So anyone can load own config upon join. The downside is maintanance of the configs.

[2021-05-30 02:12] briancullinan commented on #79
That must be in the mod, not the engine. That's outside the scope of this.

[2021-08-24 19:15] mastersam2015 opened #80 "server VPN"
is possible to run server dedicated 2 to VPN?

[2021-08-27 14:51] mastersam2015 opened #81 "how to install CPMA"
welcome

I download CPMA/OSP 1.52. I copy folder to base. I run mod with command:

node build/ioq3ded.js +set dedicated 2 +set fs_game cpma +set sv_pure 0 +set vm_game 2 +exec server.cfg

and i have server.cfg:

gameplay 0
health 50
dropitems 0
items -ALL
ammo 200,100,20,50,150,50,100,0
startweapon 128
startrespawn 128
weaponrespawn 128

when I connect to server - is like without mod.

what I made

[2021-10-01 11:31] timdonovanuk commented on #42
Is this guide valid for adding maps to the docker version?

`https://github.com/begleysm/quakejs/blob/master/cctools/README.md`

IMO the docker version helps massively making this..ahem...a little bit easier to deploy than a [30 step process ](https://steamforge.net/wiki/index.php/How_to_setup_a_local_QuakeJS_server_under_Debian_9_or_Debian_10#The_Original_Method) but the process of adding extra m

[2021-10-01 11:43] timdonovanuk commented on #58
How do we use any map?

[2021-10-01 11:43] begleysm commented on #42
I've not, personally, setup quakejs using Docker or added custom maps to a quakejs installation.  But I think that the guide you linked to should work under a Docker installation (or at least should be 95% the same).  Give it a try and report back.

[2021-11-13 21:46] BHH95 opened #82 "Ioquake 1.36 server connect"
Hi. Can I connect with ioquake3 to quakejs? I tried, but awaiting connection..

[2021-12-10 14:53] mastersam2015 opened #83 "only rail"
someone make only rail game and write instruction step by step?

[2022-01-31 23:12] twitwi commented on #28
if anyone bumps on this issue, by default q3 execs a file call `default.cfg`, and you can both save the config to a file (in the local storage) and execute it later.
In practice:
- join a game,
- make your configuration,
- bring up the console with the ² keys (below escape)
- save your config by typing `writeconfig default`
- refresh to check it worked

you can also have alternate config, e.g., `w

[2022-02-03 23:14] twitwi commented on #28
A trick to inject an existing config: open the browser console and type for instance:

[code]

[2022-02-05 10:48] jasondaigo commented on #73
does this still work? i tried various combinations now and it always gives me invalid password somehow :-(
i can only connect without pass. i tried these settings in server.cfg:
`seta g_password "pass"`
`seta g_password pass`
`set g_password "pass"`
`set g_password pass`

maybe the url has to be different?

[2022-02-05 16:29] briancullinan commented on #73
Try adding

g_needpass 1

On Sat, Feb 5, 2022, 03:48 Jason Daigo ***@***.***> wrote:

[2022-02-18 19:04] briancullinan commented on #83
I think they just deleted these pages

https://web.archive.org/web/20160918053802/http://quakewiki.net/archives/code3arena/tutorials/tutorial37.shtml

[2022-02-20 06:19] OldWorldOrdr commented on #19
@begleysm did you ever find a way to recompile quakejs?  I'm trying to run it on a server that I would be able to access from anywhere, and would like to not have to fiddle with /etc/hosts on every machine I want to access it on, and I can't even do that if the machine I access it on runs windows.

[2022-02-20 12:15] begleysm commented on #19
No, unfortunately I did not.  I worked on it a but then moved on to other projects.  As for redirecting under Windows, you actually can.  Here's how: https://steamforge.net/wiki/index.php/How_to_setup_a_local_QuakeJS_server_under_Windows_10#Redirect_content.quakejs.com

[2022-02-21 13:24] OldWorldOrdr commented on #19
@begleysm I was able to get the redirect to work, and now when I visit the site it says "awaiting challenge" forever.  I find the same thing happens regardless of if the server is running, so I suspect that it can't connect to the server.  Entering the pause menu lets me connect to one of the other running servers but I still can't connect to my own.  The server appears to be running fine when loo

[2022-02-21 13:39] begleysm commented on #19
@OldWorldOrdr I suspect that you aren't pointing to the correct server in your Play Page HTML.

I've never used @digidigital's [quakejs installer](https://github.com/digidigital/quakejs-installer) so I can't directly help there but his README says that there is a server config file.  Do you have the right server hostname setup?

Here is a link to my guide (specifically the part on Changing the Ser

[2022-02-21 13:54] begleysm commented on #19
@OldWorldOrdr if you aren't getting @digidigital's [quakejs installer](https://github.com/digidigital/quakejs-installer) working for you, I recommend you try following my [manual guide](https://steamforge.net/wiki/index.php/How_to_setup_a_local_QuakeJS_server_under_Debian_9_or_Debian_10).

I've gotten a few questions in the past about it "not working" but, so far, every time it's been "user error"

[2022-03-27 09:32] Nakilon commented on #16
https://github.com/inolen/quakejs/issues/28

[2022-07-03 16:23] wiatrolap commented on #19
Hello All,

I would like to set-up a working QuakeJS server - working from lan and from outside.
I'v tried many configuration - with docker (https://github.com/treyyoder/quakejs-docker) , everything is working fine from inside - from the same subnet. If I try external connection I can ony see a page QuakeJS and thats all.
From inside/ same subnet - I see QuakeJS and after a few second later game i

[2022-07-03 23:17] OldWorldOrdr commented on #19
@wiatrolap you need to port foward both the web server and the actual quake server.  The quakejs server uses a different port, I cannot remember which one.

[2022-07-04 17:51] wiatrolap commented on #19
@OldWorldOrdr I've tried to forward this ports
80
8080
27960

and still without success

[2022-07-04 18:47] wiatrolap commented on #19
my vm with QuakeJS (via docker) configuration:

debian 11
ip 192.168.1.45
on router port forwardng is enabled and:

outside port 8080 is forwarded to 192.168.1.45 to port 8080 tcp/udp
outside port 27960 is forwarded to 192.168.1.45 to port 27960 tcp/udp

inside vm there is a QuakeJS on docker which I'm launching using this command:

docker run --rm -it --name quakejs -e SERVER=192.168.1.45 -e HTTP

[2022-07-05 02:27] begleysm commented on #19
@wiatrolap

The "JS logo and that's all" symptom is indicative of not connecting to you Content Server.

Here is a thread where I discussed this issue with another guy:
https://github.com/begleysm/quakejs/issues/12#issuecomment-997200843

Have you followed my guide (https://steamforge.net/wiki/index.php/How_to_setup_a_local_QuakeJS_server_under_Debian_9_or_Debian_10) and/or seen my fork (https://g

[2022-07-05 10:03] digidigital commented on #19
- Do you have the issue in all browsers?
- What is the output of your browser's Javascript console?
--
Gesendet mit pEp für Android.

[2022-07-08 11:33] wiatrolap commented on #19
@begleysm

I've tried only https://github.com/treyyoder/quakejs-docker and it is not working from outside /port redirection etc

I will try with your guide

@digidigital

issue exist in all browsers
I will check browsers Javascript console

[2022-07-11 09:38] Kaurt97 opened #84 "Naming player"
How to set nick name for online game?

[2022-09-26 14:37] Alex-A137 opened #85 "can i run this in a web browser"